h3 {color: #00FA3A;}

body, html 
{
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
  background-color: #EEFF7C;
}

.ThreeJS
{
  z-index: 1;
  overflow: auto;
  overflow-y: hidden;
  position: absolute;
}

#smapText
{
  z-index: 2;
  width: 95%;
  height: 85%;
  position: absolute;
  margin-left: auto; margin-right: auto;
  left: 0; right: 0;
}

#map 
{ 
  z-index: 3;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: auto; margin-right: auto;
  left: 0; right: 0;
}

#mapbutton
{
  font-size: 9px;
  border-radius: 5px;
  padding:5px;
}
