h2 {color: #00FA3A;}

body 
{
  margin: 0px;
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
  background-color: #EEFF7C;
}

.ThreeJS
{
  z-index: 1;
  overflow: auto;
  overflow-y: hidden;
  background-color: #FFFFFF;
}

#map 
{ 

}
