body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.mtitle
{
  font-size: 16px;
}

p{
  margin-top: 4px;
  margin-bottom: 5px;
  padding-left:26px;
  font-style: oblique;
}

h3{
  padding-left:26px;
  display: inline;
}

.slinks{
  font-weight: bold;
}

a:link {
  text-decoration: none;
  font-weight: normal;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.fa
{
  color: #0084b4;
}

#grad1 {
  left: 0px;
  pointer-events: none;
  position: absolute;
  height: 24px;
  width: 100%;
  background: rgba(244, 67, 54,0.07);
  /*background: -webkit-linear-gradient(left, rgba(46, 204, 113,0.25), rgba(255,0,0,0)); /* For Safari 5.1 to 6.0 */
   /*   background: -o-linear-gradient(right, rgba(46, 204, 113,0.25), rgba(255,0,0,0)); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, rgba(46, 204, 113,0.25), rgba(255,0,0,0)); /* For Firefox 3.6 to 15 */
     /* background: linear-gradient(to right, rgba(46, 204, 113,0.25), rgba(255,0,0,0)); /* Standard syntax (must be last) */
}
