body {
  background-color:black;
  margin: 0px;
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
}

.dis2 {
  z-index:2;
  margin:0px;
  text-align: center;
}

#dis {
  margin:0px;
  text-align: center;
  font-size: 15;
}

#match {
  z-index:1;
  margin:0px;
  text-align: center;
}

.SimonBoxTable {
  width:100%; 
  height:100%; 
  margin:0px auto; 
} 

.tap-Green{
  width: 40%;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 20px;

  /*font-size: 1.125em;*/
  font-size:62px;
  text-align: center;
  color: #000;
  background-color: #9B5;

  cursor: pointer;
  transition: all 0.3s;
  -webkit-box-shadow:0 0 3px #BD6; 
  -moz-box-shadow: 0 0 3px #BD6; 
  box-shadow:0 0 3px #BD6;

}

.tap-Green.switch-bg {
  background-color: #BD6;
}

.tap-Red {
  width: 40%;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 20px;

  font-size:62px;
  text-align: center;
  color: #000;
  background-color: #A00;

  cursor: pointer;
  transition: all 0.3s;
  -webkit-box-shadow:0 0 3px #D00; 
  -moz-box-shadow: 0 0 3px #D00; 
  box-shadow:0 0 3px #D00;
}

.tap-Red.switch-bg {
  background-color: #D00;
}

.tap-Yellow{
  width: 40%;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 20px;

  font-size:62px;
  text-align: center;
  color: #000;
  background-color: #CB0;

  cursor: pointer;
  transition: all 0.3s;
  -webkit-box-shadow:0 0 3px #ED0; 
  -moz-box-shadow: 0 0 3px #ED0; 
  box-shadow:0 0 3px #ED0;
}

.tap-Yellow.switch-bg {
  background-color: #ED0;
}

.tap-Blue{
  width: 40%;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 20px;

  font-size:62px;
  text-align: center;
  color: #000;
  background-color: #14C;

  cursor: pointer;
  transition: all 0.3s;
  -webkit-box-shadow:0 0 3px #15E; 
  -moz-box-shadow: 0 0 3px #15E; 
  box-shadow:0 0 3px #15E;
}

.tap-Blue.switch-bg {
  background-color: #15E;
}

.cogs-logo {
  width: 220px;
  height: 120px;
  text-align: center;
  overflow: hidden;
  z-index:0;
}

::-moz-selection {
  background-color:Transparent;
  color:#000;
}

::selection {
  background-color:Transparent;
  color:#000;
}
