body {
  background-color:black;
  margin: 0px;
  overflow: hidden;
}

.dis2 {
  z-index:0;
  margin:0px;
  text-align: center;
}

#dis {
  margin:0px;
  text-align: center;
  font-size: 15;
}

.SimonBoxTable {
  width:100%; 
  height:100%; 
  margin:0px auto; 
} 

.tap-Green{
  width: 65px;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 4px;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #BD6;

  cursor: pointer;
  transition: all 0.3s;
}

.tap-Green.switch-bg {
  background-color: #f40;
}

.tap-Red {
  width: 65px;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 4px;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #D00;

  cursor: pointer;
  transition: all 0.3s;
}

.tap-Red.switch-bg {
  background-color: #f40;
}

.tap-Yellow{
  width: 65px;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 4px;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #ED0;

  cursor: pointer;
  transition: all 0.3s;
}

.tap-Yellow.switch-bg {
  background-color: #f40;
}

.tap-Blue{
  width: 65px;
  height: 80px;
  padding: 10%;
  margin: 1%;

  border-radius: 4px;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #15E;

  cursor: pointer;
  transition: all 0.3s;
}

.tap-Blue.switch-bg {
  background-color: #f40;
}

.tap-Red.large {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
